<div class="card">  
    <div class="card-body">  
      <form [formGroup]="angForm" novalidate>  
        <div class="form-group">  
          <label class="col-md-4">Inmate Name</label>  
          <input type="text" class="form-control"   
            formControlName="InmateName"   
            #InmateName />  
        </div>  
        <div *ngIf="angForm.controls['InmateName'].invalid && (angForm.controls['InmateName'].dirty || angForm.controls['InmateName'].touched)" class="alert alert-danger">  
          <div *ngIf="angForm.controls['InmateName'].errors.required">  
            Inmate Name is required.  
          </div>  
        </div>  
        <div class="form-group">  
          <label class="col-md-4">Inmate Date Of Birth </label>  
          <input type="text" class="form-control" 
          formControlName="InmateDateOfBirth"   
          #InmateDateOfBirth />  
        </div>  
        <div *ngIf="angForm.controls['InmateDateOfBirth'].invalid && (angForm.controls['InmateDateOfBirth'].dirty || angForm.controls['InmateDateOfBirth'].touched)" class="alert alert-danger">  
          <div *ngIf="angForm.controls['InmateDateOfBirth'].errors.required">  
            Inmate Date Of Birth is required.  
          </div>  
        </div>  
        <div class="form-group">  
          <label class="col-md-4">Inmate Intake Date\Time </label>  
          <input type="text" class="form-control" 
          formControlName="InmateIntakeDateTime"   
          #InmateIntakeDateTime />  
        </div>  
        <div *ngIf="angForm.controls['InmateIntakeDateTime'].invalid && (angForm.controls['InmateIntakeDateTime'].dirty || angForm.controls['InmateIntakeDateTime'].touched)" class="alert alert-danger">  
          <div *ngIf="angForm.controls['InmateIntakeDateTime'].errors.required">  
            Inmate Intake Date\Time is required.  
          </div>  
        </div>  
        <div class="form-group">  
          <label class="col-md-4">Inmate Cell No.</label>  
          <input type="text" class="form-control"   
            formControlName="InmateCellNumber"   
            #InmateCellNumber 
          />  
        </div>  
        <div *ngIf="angForm.controls['InmateCellNumber'].invalid && (angForm.controls['InmateCellNumber'].dirty || angForm.controls['InmateCellNumber'].touched)" class="alert alert-danger">  
            <div *ngIf="angForm.controls['InmateCellNumber'].errors.required">  
            Inmate Cell Number is required.  
          </div>  
        </div>  
        <div class="form-group">  
          <label class="col-md-4">Inmate Location.</label>  
          <input type="text" class="form-control"   
            formControlName="InmateLocation"   
            #InmateLocation 
          />  
        </div>  
        <div *ngIf="angForm.controls['InmateLocation'].invalid && (angForm.controls['InmateLocation'].dirty || angForm.controls['InmateLocation'].touched)" class="alert alert-danger">  
            <div *ngIf="angForm.controls['InmateLocation'].errors.required">  
            Inmate Location is required.  
          </div>  
        </div>  
        <div class="form-group">  
            <button (click) = "addInmate(InmateName.value, InmateDateOfBirth.value, InmateIntakeDateTime, InmateCellNumber.value, InmateLocation.value)" type="submit" class="btn btn-primary"  
            [disabled]="angForm.pristine || angForm.invalid" >  
              Create Inmate  
            </button>  
        </div>
      </form>  
    </div>  
  </div>  